/* -- This specific Hack-A-Day project -- */
/*.chat div {
    border: 2px solid grey;
}*/

.chat {
    height: 500px;
    border-radius: 20px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 10px 10px gray;
    margin: 20px 20px 40px 20px;
    padding: 10px;
}

.chat-top {
	overflow-y: hidden;
	height: 100%;
}

.message-box {
    overflow-y: hidden;
}


.flex-vert {
    display: flex;
    flex-direction: column;
}
.flex-horiz {
    display: flex;
    flex-direction: row;
}
.flex-horiz > *, .flex-vert > * {
    flex-grow: 1;
    flex-shrink: 1;
}

.btn, .chat-bottom, label.nogrow {
    flex-grow: 0;
}

.message-notme > * {
    align: right;
}

.user-container {
    max-width: 200px;
}

.plaintext {
    white-space: pre-wrap;
}

.message-me {
	background-color: lightyellow;
}
.message-notme {
	background-color: pink;
}

.message-outer {
	display: flex;
	flex-direction: row;
}
.message-outer > .spacer {
	flex-grow: 1;
	flex-shrink: 1;
}

.message {
	border: 2px solid #666;
	border-radius: 8px;
	padding: 8px;
	width: fit-content;
}
.message-box > * {
	margin: 10px 10px 10px 0;
}

.author {
	font-variant: small-caps;
	display: inline-block;
}
.author {
	margin-right: 5px;
}

.message-text {
	display: inline-block;
}

.message-notme {
	background-color: lightblue;
}

.input-box {
	border-radius: 0 0 0 10px;
	border-right-width: 0;
}

.btn {
	border-radius: 0 0 10px 0;
}

.user-header {
    font-variant: small-caps;
    font-size: x-large;
    text-align: center;
}

.user-box {
    overflow-y: auto;
    font-variant:small-caps;
}
