{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ project_name }}{% endblock %}</h1>
    {{ project_name }} is a chatroom for everyone. Feel free to use it as a guest, or you can register using the link on the top right.
{% endblock %}

{% block content %}
    <div class="chat flex-vert">
        <div class="chat-top flex-horiz">
            <div id="messagebox" class="message-box"></div>
            <div class="user-container">
                Users
                <div id="userbox" class="user-box"></div>
            </div>
        </div>
        <div class="chat-bottom flex-horiz">
        <div class="compose flex-horiz" style="{% if not current_user.is_authenticated %}display: none;{% endif %}">
            <input id="message" class="message-box"/>
            <input class="btn btn-primary" type="button" value="Send" id="sendbutton"/>
        </div>
    {% if current_user.is_authenticated %}
        <input type="hidden" id="username" value="{{ current_user.id }}"/>
    {% else %}
        <div id="guestlogin" class="flex-horiz">
        <div class="flex-horiz">
            <label for="username" class="nogrow">Username</label>
            <input placeholder="guest123" id="username"/>
        </div>
        <input class="btn btn-primary" type="button" value="Connect" id="connect"/>
        </div>
        </div>
    {% endif %}
    </div>

    <script src="{{ url_for('static', filename='hackchat.js') }}"></script>
{% endblock %}
